<div class="headcontainer">
    <a href="/"><img src="https://static.vecteezy.com/system/resources/previews/011/453/434/original/dog-pixel-art-style-free-vector.jpg" alt="picture of dog" height="125" width="125"></a>
    <div class="header">   
        <h1>Adopt Me!</h1>
        <div id="todaysDate"></div>
    </div>
</div>