<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/WebStyle.css">
        <title>Adopt Me!</title>
    </head>
    <body>
        <%- include('partials/sidemenu') %>

        <div class="main_container">
            <%- include('partials/header') %>
            
            <div class="maincontent">
                <section>
                    <h2>Feeding</h2>
                    <p>
                        Provide your dog with a balanced diet appropriate for their age, size, and 
                        breed. Feed them high-quality dog food and ensure access to clean water at all times. 
                        Follow feeding guidelines provided by your veterinarian or the food packaging.
                    </p>
                </section>
                <section>
                    <h2>Grooming</h2>
                    <p>
                        Regular grooming helps keep your dog's coat clean and healthy. Brush 
                        your dog's coat regularly to remove loose hair and prevent matting. Trim their nails as 
                        needed and clean their ears to prevent infections. Bathe your dog occasionally using a 
                        dog-specific shampoo.
                    </p>
                </section>
                <section>
                    <h2>Exercise</h2>
                    <p>
                        Dogs need regular exercise to stay healthy and mentally stimulated. Provide 
                        daily walks, play sessions, and opportunities for interactive activities like fetch or 
                        agility training. The amount of exercise needed varies depending on the dog's breed, 
                        age, and size.
                    </p>
                </section>
                <section>
                    <h2>Training and Socialization</h2>
                    <p>
                        Start training your dog as early as possible using positive 
                        reinforcement techniques. Teach basic commands like sit, stay, and come, and work 
                        on behavior management such as leash walking and proper manners. Socialize your 
                        dog with people, other animals, and various environments to help them become well-
                        adjusted.
                    </p>
                </section>
                <section>
                    <h2>Healthcare</h2>
                    <p>
                        Schedule regular veterinary check-ups to monitor your dog's health and 
                        address any concerns. Keep up with vaccinations, parasite prevention (fleas, ticks, 
                        heartworms), and dental care. Spay or neuter your dog if not intending to breed to 
                        prevent unwanted litters and certain health issues.
                    </p>
                </section>
                <section>
                    <h2>Saftey</h2>
                    <p>
                        Ensure your home and yard are safe for your dog by removing hazards and 
                        providing secure fencing. Use a collar with identification tags and consider 
                        microchipping for added identification. Supervise your dog around unfamiliar dogs, 
                        children, and potentially dangerous items or situations.
                    </p>
                </section>
                <section>
                    <h2>Love and Attention</h2>
                    <p>
                        Dogs are social animals and thrive on companionship and 
                        affection. Spend quality time with your dog, provide mental stimulation through 
                        interactive toys and puzzles, and offer plenty of love and attention to strengthen your 
                        bond.
                    </p>
                </section>
                <section>
                    <h2>And Remember...</h2>
                    <p>
                        Each dog is unique, so be attentive to your dog's individual needs and 
                        preferences. Building a strong relationship based on trust, love, and consistent care is 
                        essential for a happy and healthy life together. If you have specific questions or 
                        concerns about caring for your dog, consult with your veterinarian for personalized 
                        advice.
                    </p>
                </section>
            </div>
            
            <%- include('partials/footer') %>
        </div>
        <script src="WebJS.js"></script>
    </body>
</html>
