<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/WebStyle.css">
        <title>Adopt Me!</title>
    </head>
    <body>
        <%- include('partials/sidemenu') %>

        <div class="main_container">
            <%- include('partials/header') %>
        
            <div class="maincontent">
                <section>
                    <h2>What We're all about!</h2>
                    <p>
                        This is our online platform dedicated to connecting loving homes with furry 
                        companions in need! Whether you're searching for your newest family member or 
                        seeking a caring home for a pet in transition, our website offers a seamless adoption 
                        experience for both prospective pet owners and compassionate individuals looking to 
                        rehome their dogs or cats.
                    </p>
                </section>
                <section>
                    <h2>Find Your Perfect Companion</h2>
                    <p>
                        Browse through profiles of adorable pups and charming cats waiting to find their 
                        forever homes. Our comprehensive search filters allow you to narrow down your 
                        options based on preferences such as breed, age, size, and location, ensuring you find 
                        the perfect match for your lifestyle and preferences.
                    </p>
                </section>
                <section>
                    <h2>Rehome with Compassion</h2>
                    <p>
                        For those looking to surrender a pet, our platform provides a safe and supportive 
                        environment to create detailed listings, including photos and descriptions, to help 
                        potential adopters get to know your pet and understand their unique needs.
                    </p> 
                </section>
                <div style="padding: 10px;"><!--Padding added just to replicate section, without header element-->
                    <p>
                        With user-friendly interfaces and dedicated support, our website aims to make the 
                        adoption process as smooth and fulfilling as possible for both pets and their new 
                        families. Join our community of animal lovers today and embark on the heartwarming 
                        journey of adoption!
                    </p>
                </div>
            </div>

            <%- include('partials/footer') %>
        </div>
        <script src="../public/WebJS.js"></script>
    </body>
</html>
