<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/WebStyle.css">
        <title>Adopt Me!</title>
    </head>
    <body>        
        <%- include('partials/sidemenu') %>

        <div class="main_container">
            <%- include('partials/header') %>

            <div class="maincontent">
                <section>
                    <h2>Matches</h2>
                    <div id="matchingRecords">
                    </div>
                </section>
            </div>
            <%- include('partials/footer') %>
        </div>
        <script src="../public/WebJS.js"></script>
    </body>
</html>
